List of Students
  <ul class="Students">
  <% for(var i=0; i<Students.length; i++) {%>
    <li class="Students">
      <span><%= " ID: " +Students[i].stuid+"."%></span>
      <span><%=" Name: " + Students[i].stuname%></span>
    </li>
  <% } %>
</ul>